In [ ]:
# # Association Rule Based

# ## İş Problemi

# Aşağıda 3 farklı kullanıcının sepet bilgileri verilmiştir. Bu sepet bilgilerine en
# uygun ürün önerisini birliktelik kuralı kullanarak yapınız. Ürün önerileri 1 tane
# ya da 1'den fazla olabilir. Karar kurallarını 2010-2011 Germany müşterileri
# üzerinden türetiniz.

# Kullanıcı 1’in sepetinde bulunan ürünün id'si: 21987
# Kullanıcı 2’in sepetinde bulunan ürünün id'si : 23235
# Kullanıcı 3’in sepetinde bulunan ürünün id'si : 22747

# ## Veri Seti Hikayesi

# Online Retail II isimli veri seti İngiltere merkezli bir perakende şirketinin 01/12/2009 - 09/12/2011 tarihleri arasındaki online satış
# işlemlerini içeriyor. Şirketin ürün kataloğunda hediyelik eşyalar yer almaktadır ve çoğu müşterisinin toptancı olduğu bilgisi
# mevcuttur.

# 8 Değişken 541.909 Gözlem 45.6MB

# InvoiceNo Fatura Numarası ( Eğer bu kod C ile başlıyorsa işlemin iptal edildiğini ifade eder )
# StockCode Ürün kodu ( Her bir ürün için eşsiz )
# Description Ürün ismi
# Quantity Ürün adedi ( Faturalardaki ürünlerden kaçar tane satıldığı)
# InvoiceDate Fatura tarihi
# UnitPrice Fatura fiyatı ( Sterlin )
# CustomerID Eşsiz müşteri numarası
# Country Ülke ismi


# ## Proje Görevleri

# ### Görev 1: Veriyi Hazırlama
# Adım 1: Online Retail II veri setinden 2010-2011 sheet’ini okutunuz.
# Adım 2: StockCode’u POST olan gözlem birimlerini drop ediniz. (POST her faturaya eklenen bedel, ürünü ifade etmemektedir.)
# Adım 3: Boş değer içeren gözlem birimlerini drop ediniz.
# Adım 4: Invoice içerisinde C bulunan değerleri veri setinden çıkarınız. (C faturanın iptalini ifade etmektedir.)
# Adım 5: Price değeri sıfırdan küçük olan gözlem birimlerini filtreleyiniz.
# Adım 6: Price ve Quantity değişkenlerinin aykırı değerlerini inceleyiniz, gerekirse baskılayınız.

# ### Görev 2: Alman Müşteriler Üzerinden Birliktelik Kuralları Üretme
# Adım 1: Aşağıdaki gibi fatura ürün pivot table’i oluşturacak create_invoice_product_df fonksiyonunu tanımlayınız.
# Adım 2: Kuralları oluşturacak create_rules fonksiyonunu tanımlayınız ve alman müşteriler için kurallarını bulunuz.

# Description / NINE DRAWER OFFICE TIDY / SET 2 TEA TOWELS I LOVE LONDON / SPACEBOY BABY GIFT SET... /
# Invoice
# 536370 0 1 0
# 536852 1 0 1
# 536974 0 0 0
# 537065 1 0 0
# 537463 0 0 1

# ### Görev 3: Sepet İçerisindeki Ürün Id’leri Verilen Kullanıcılara Ürün Önerisinde Bulunma
# Adım 1: check_id fonksiyonunu kullanarak verilen ürünlerin isimlerini bulunuz.
# Adım 2: arl_recommender fonksiyonunu kullanarak 3 kullanıcı için ürün önerisinde bulununuz.
# Adım 3: Önerilecek ürünlerin isimlerine bakınız.

In [ ]:
# ### Görev 1: Veriyi Hazırlama
# Adım 1: Online Retail II veri setinden 2010-2011 sheet’ini okutunuz.
# Adım 2: StockCode’u POST olan gözlem birimlerini drop ediniz. (POST her faturaya eklenen bedel, ürünü ifade etmemektedir.)
# Adım 3: Boş değer içeren gözlem birimlerini drop ediniz.
# Adım 4: Invoice içerisinde C bulunan değerleri veri setinden çıkarınız. (C faturanın iptalini ifade etmektedir.)
# Adım 5: Price değeri sıfırdan küçük olan gözlem birimlerini filtreleyiniz.
# Adım 6: Price ve Quantity değişkenlerinin aykırı değerlerini inceleyiniz, gerekirse baskılayınız.

In [25]:
import pandas as pd
#pd.set_option('display.max_columns', None)
pd.set_option('display.max_columns', 25)
# pd.set_option('display.max_rows', None)
pd.set_option('display.width', 500)
# çıktının tek bir satırda olmasını sağlar.
pd.set_option('display.expand_frame_repr', False)
from mlxtend.frequent_patterns import apriori, association_rules

import warnings
warnings.filterwarnings("ignore")

In [4]:
df_ = pd.read_excel("C:\\Users\\Msı\\PycharmProjects\\DSMLBC9\\W4_recommender_systems\\W4_projelerim\\online_retail_II.xlsx",
                    sheet_name="Year 2010-2011")

In [44]:
df = df_.copy()
df

       Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1       536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
...        ...       ...                                  ...       ...                 ...    ...          ...             ...
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00   2.10      12680.0          France
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00   4.15      12680.0          France
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0          France
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0          France
541909  581587      POST                              POSTAGE         1 2011-12-09 12:50:00  18.00      12680.0          France

[541910 rows x 8 columns]

In [45]:
df=df[~ (df.StockCode=="POST")]
df

       Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1       536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
...        ...       ...                                  ...       ...                 ...    ...          ...             ...
541904  581587     22613          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00   0.85      12680.0          France
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00   2.10      12680.0          France
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00   4.15      12680.0          France
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0          France
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0          France

[540653 rows x 8 columns]

In [46]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      1450
Quantity            0
InvoiceDate         0
Price               0
Customer ID    135020
Country             0
dtype: int64

In [47]:
df.dropna(inplace=True)

In [48]:
df.isnull().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
dtype: int64

In [49]:
df = df[~df["Invoice"].str.contains("C", na=False)]
df

       Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1       536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
...        ...       ...                                  ...       ...                 ...    ...          ...             ...
541904  581587     22613          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00   0.85      12680.0          France
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00   2.10      12680.0          France
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00   4.15      12680.0          France
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0          France
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0          France

[396825 rows x 8 columns]

In [50]:
df = df[df["Price"] > 0]
df

       Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1       536365     71053                  WHITE METAL LANTERN         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER         8 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
...        ...       ...                                  ...       ...                 ...    ...          ...             ...
541904  581587     22613          PACK OF 20 SPACEBOY NAPKINS        12 2011-12-09 12:50:00   0.85      12680.0          France
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL          6 2011-12-09 12:50:00   2.10      12680.0          France
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4 2011-12-09 12:50:00   4.15      12680.0          France
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4 2011-12-09 12:50:00   4.15      12680.0          France
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT          3 2011-12-09 12:50:00   4.95      12680.0          France

[396785 rows x 8 columns]

In [51]:
df.describe().T

                count          mean          std        min       25%       50%       75%       max
Quantity     396785.0     13.016349   179.579125      1.000      2.00      6.00     12.00  80995.00
Price        396785.0      3.037677    17.829741      0.001      1.25      1.95      3.75   4161.06
Customer ID  396785.0  15301.463886  1709.852311  12346.000  13975.00  15159.00  16801.00  18287.00

In [52]:
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit
    
replace_with_thresholds(df, "Quantity")
replace_with_thresholds(df, "Price")
df

       Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID         Country
0       536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER       6.0 2010-12-01 08:26:00   2.55      17850.0  United Kingdom
1       536365     71053                  WHITE METAL LANTERN       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
2       536365    84406B       CREAM CUPID HEARTS COAT HANGER       8.0 2010-12-01 08:26:00   2.75      17850.0  United Kingdom
3       536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
4       536365    84029E       RED WOOLLY HOTTIE WHITE HEART.       6.0 2010-12-01 08:26:00   3.39      17850.0  United Kingdom
...        ...       ...                                  ...       ...                 ...    ...          ...             ...
541904  581587     22613          PACK OF 20 SPACEBOY NAPKINS      12.0 2011-12-09 12:50:00   0.85      12680.0          France
541905  581587     22899         CHILDREN'S APRON DOLLY GIRL        6.0 2011-12-09 12:50:00   2.10      12680.0          France
541906  581587     23254        CHILDRENS CUTLERY DOLLY GIRL        4.0 2011-12-09 12:50:00   4.15      12680.0          France
541907  581587     23255      CHILDRENS CUTLERY CIRCUS PARADE       4.0 2011-12-09 12:50:00   4.15      12680.0          France
541908  581587     22138        BAKING SET 9 PIECE RETROSPOT        3.0 2011-12-09 12:50:00   4.95      12680.0          France

[396785 rows x 8 columns]

In [ ]:
# ### Görev 2: Alman Müşteriler Üzerinden Birliktelik Kuralları Üretme
# Adım 1: Aşağıdaki gibi fatura ürün pivot table’i oluşturacak create_invoice_product_df fonksiyonunu tanımlayınız.
# Adım 2: Kuralları oluşturacak create_rules fonksiyonunu tanımlayınız ve alman müşteriler için kurallarını bulunuz.

# Description / NINE DRAWER OFFICE TIDY / SET 2 TEA TOWELS I LOVE LONDON / SPACEBOY BABY GIFT SET... /
# Invoice
# 536370 0 1 0
# 536852 1 0 1
# 536974 0 0 0
# 537065 1 0 0
# 537463 0 0 1

In [53]:
df.Country.unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Finland',
       'Austria', 'Greece', 'Singapore', 'Lebanon',
       'United Arab Emirates', 'Israel', 'Saudi Arabia', 'Czech Republic',
       'Canada', 'Unspecified', 'Brazil', 'USA', 'European Community',
       'Bahrain', 'Malta', 'RSA'], dtype=object)

In [81]:
def outlier_thresholds(dataframe, variable):
    quartile1 = dataframe[variable].quantile(0.01)
    quartile3 = dataframe[variable].quantile(0.99)
    interquantile_range = quartile3 - quartile1
    up_limit = quartile3 + 1.5 * interquantile_range
    low_limit = quartile1 - 1.5 * interquantile_range
    return low_limit, up_limit

def replace_with_thresholds(dataframe, variable):
    low_limit, up_limit = outlier_thresholds(dataframe, variable)
    dataframe.loc[(dataframe[variable] < low_limit), variable] = low_limit
    dataframe.loc[(dataframe[variable] > up_limit), variable] = up_limit

def retail_data_prep(dataframe):
    dataframe.dropna(inplace=True)
    dataframe = dataframe[~dataframe["Invoice"].str.contains("C", na=False)]
    #dataframe = dataframe[dataframe["Quantity"] > 0]
    dataframe = dataframe[dataframe["Price"] > 0]
    replace_with_thresholds(dataframe, "Quantity")
    replace_with_thresholds(dataframe, "Price")
    return dataframe


def create_invoice_product_df(dataframe, id=False):
    if id:
        return dataframe.groupby(['Invoice', "StockCode"])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)
    else:
        return dataframe.groupby(['Invoice', 'Description'])['Quantity'].sum().unstack().fillna(0). \
            applymap(lambda x: 1 if x > 0 else 0)


def check_id(dataframe, stock_code):
    product_name = dataframe[dataframe["StockCode"] == stock_code][["Description"]].values[0].tolist()
    print(product_name)


def create_rules(dataframe, id=True, country="Germany"):
    dataframe = dataframe[dataframe['Country'] == country]
    dataframe = create_invoice_product_df(dataframe, id)
    frequent_itemsets = apriori(dataframe, min_support=0.01, use_colnames=True)
    rules = association_rules(frequent_itemsets, metric="support", min_threshold=0.01)
    return rules

df = df_.copy()

df = retail_data_prep(df)
rules = create_rules(df)

# rules[(rules["support"]>0.05) & (rules["confidence"]>0.1) & (rules["lift"]>5)]. \
# sort_values("confidence", ascending=False)
rules

      antecedents                                 consequents  antecedent support  consequent support   support  confidence       lift  leverage  conviction
0          (POST)                                     (10125)            0.818381            0.013129  0.013129    0.016043   1.221925  0.002384    1.002961
1         (10125)                                      (POST)            0.013129            0.818381  0.013129    1.000000   1.221925  0.002384         inf
2          (POST)                                     (15036)            0.818381            0.019694  0.015317    0.018717   0.950386 -0.000800    0.999004
3         (15036)                                      (POST)            0.019694            0.818381  0.015317    0.777778   0.950386 -0.000800    0.817287
4         (16016)                                      (POST)            0.010941            0.818381  0.010941    1.000000   1.221925  0.001987         inf
...           ...                                         ...                 ...                 ...       ...         ...        ...       ...         ...
49607      (POST)  (22467, 22629, 22326, 22423, 21915, 22077)            0.818381            0.010941  0.010941    0.013369   1.221925  0.001987    1.002461
49608     (22326)   (22467, 22629, POST, 22423, 21915, 22077)            0.245077            0.010941  0.010941    0.044643   4.080357  0.008260    1.035277
49609     (22423)   (22467, 22629, POST, 22326, 21915, 22077)            0.137856            0.010941  0.010941    0.079365   7.253968  0.009433    1.074323
49610     (21915)   (22467, 22629, POST, 22326, 22423, 22077)            0.045952            0.010941  0.010941    0.238095  21.761905  0.010438    1.298140
49611     (22077)   (22467, 22629, POST, 22326, 22423, 21915)            0.102845            0.010941  0.010941    0.106383   9.723404  0.009816    1.106804

[49612 rows x 9 columns]

In [ ]:
# ### Görev 3: Sepet İçerisindeki Ürün Id’leri Verilen Kullanıcılara Ürün Önerisinde Bulunma
# Adım 1: check_id fonksiyonunu kullanarak verilen ürünlerin isimlerini bulunuz.
# Adım 2: arl_recommender fonksiyonunu kullanarak 3 kullanıcı için ürün önerisinde bulununuz.
# Adım 3: Önerilecek ürünlerin isimlerine bakınız.

# Kullanıcı 1’in sepetinde bulunan ürünün id'si: 21987
# Kullanıcı 2’in sepetinde bulunan ürünün id'si : 23235
# Kullanıcı 3’in sepetinde bulunan ürünün id'si : 22747

In [77]:
check_id(df_gr, 21987)

['PACK OF 6 SKULL PAPER CUPS']

In [78]:
check_id(df_gr, 23235)

['STORAGE TIN VINTAGE LEAF']

In [76]:
check_id(df_gr, 22747)

["POPPY'S PLAYHOUSE BATHROOM"]

In [82]:
df_gr = df[df['Country'] == "Germany"]  # sadece fransa için bu işlemleri yapmamız istendi
df_gr

       Invoice StockCode                          Description  Quantity         InvoiceDate  Price  Customer ID  Country
1109    536527     22809              SET OF 6 T-LIGHTS SANTA       6.0 2010-12-01 13:04:00   2.95      12662.0  Germany
1110    536527     84347  ROTATING SILVER ANGELS T-LIGHT HLDR       6.0 2010-12-01 13:04:00   2.55      12662.0  Germany
1111    536527     84945   MULTI COLOUR SILVER T-LIGHT HOLDER      12.0 2010-12-01 13:04:00   0.85      12662.0  Germany
1112    536527     22242        5 HOOK HANGER MAGIC TOADSTOOL      12.0 2010-12-01 13:04:00   1.65      12662.0  Germany
1113    536527     22244           3 HOOK HANGER MAGIC GARDEN      12.0 2010-12-01 13:04:00   1.95      12662.0  Germany
...        ...       ...                                  ...       ...                 ...    ...          ...      ...
541801  581578     22993         SET OF 4 PANTRY JELLY MOULDS      12.0 2011-12-09 12:16:00   1.25      12713.0  Germany
541802  581578     22907     PACK OF 20 NAPKINS PANTRY DESIGN      12.0 2011-12-09 12:16:00   0.85      12713.0  Germany
541803  581578     22908        PACK OF 20 NAPKINS RED APPLES      12.0 2011-12-09 12:16:00   0.85      12713.0  Germany
541804  581578     23215     JINGLE BELL HEART ANTIQUE SILVER      12.0 2011-12-09 12:16:00   2.08      12713.0  Germany
541805  581578     22736          RIBBON REEL MAKING SNOWMEN       10.0 2011-12-09 12:16:00   1.65      12713.0  Germany

[9040 rows x 8 columns]

In [83]:
df_gr.groupby(['Invoice', 'Description']). \
    agg({"Quantity": "sum"}). \
    unstack().\
    fillna(0).\
    applymap(lambda x: 1 if x > 0 else 0).iloc[0:5, 0:3]

                                  Quantity
Description  50'S CHRISTMAS GIFT BAG LARGE  DOLLY GIRL BEAKER  I LOVE LONDON MINI BACKPACK
Invoice
536527                                   0                  0                            0
536840                                   0                  0                            0
536861                                   0                  0                            0
536967                                   0                  0                            0
536983                                   0                  0                            0

In [88]:
def arl_recommender(rules_df, product_id, rec_count=1):
    sorted_rules = rules_df.sort_values("lift", ascending=False)
    recommendation_list = []
    for i, product in enumerate(sorted_rules["antecedents"]):
        for j in list(product):
            if j == product_id:
                recommendation_list.append(list(sorted_rules.iloc[i]["consequents"])[0])

    return recommendation_list[0:rec_count]

In [110]:
for id_ in [21987,23235,22747]:
    product_id=arl_recommender(rules, id_, 1)[0]
    print("sepete eklenen ürün:",id_," tavsiye edilen ürün",product_id)
    check_id(df_gr, product_id)
    print("*"*50)

sepete eklenen ürün: 21987  tavsiye edilen ürün 21086
['SET/6 RED SPOTTY PAPER CUPS']
**************************************************
sepete eklenen ürün: 23235  tavsiye edilen ürün 23243
['SET OF TEA COFFEE SUGAR TINS PANTRY']
**************************************************
sepete eklenen ürün: 22747  tavsiye edilen ürün 22746
["POPPY'S PLAYHOUSE LIVINGROOM "]
**************************************************